# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# .NET
bin/
obj/

# Flutter
.dart_tool/
build/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Release binaries
artifacts/release/*.apk
artifacts/release/*.aab
artifacts/release/*.sql
# IntelliJ / Android Studio
.idea/
